*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:hover {
  font-weight: bold;
  border-bottom: 1px solid #ffc107;
}

.nav-link.active {
  border-bottom: 1px solid #ffc107;
  font-weight: bold;
}

body {
  height: 90vh;
}

.accueil {
  background: url("https://raw.githubusercontent.com/Ceeeed1985/restaurant-css-framework/main/pictures/background_home_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.menu-defilant {
  overflow: hidden;
}


@media (max-width :767.98px){
  .menu-defilant > :first-child {
    font-size: 1.2em;
    display: inline-block;
    animation: defilement-rtl-mobile 10s infinite linear;
  }

  .menu-defilant > :first-child:hover {
    animation-play-state: paused;
  }
}

@keyframes defilement-rtl-mobile {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}



@media (min-width :768px){
  .menu-defilant > :first-child {
    font-size: 1.2em;
    display: inline-block;
    animation: defilement-rtl-desk 20s infinite linear;
  }

  .menu-defilant > :first-child:hover {
    animation-play-state: paused;
  }
}

@keyframes defilement-rtl-desk {
  0% {
    transform: translate3d(210%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


/* Page à propos */

.logo_anime_facebook{
  animation: bounce infinite;
  animation-duration: 5s;
}

.logo_anime_instagram{
  animation: bounce infinite;
  animation-duration: 5s;
  animation-delay: 0.3s;
}

.logo_anime_fork{
  animation: bounce infinite;
  animation-duration: 5s;
  animation-delay: 0.6s;
}

.logo_anime_linkedin{
  animation: bounce infinite;
  animation-duration: 5s;
  animation-delay: 0.9s;
}

/*Page menu*/

.background-menu {
  background: url("https://raw.githubusercontent.com/Ceeeed1985/restaurant-css-framework/main/pictures/background_menu.png");
  background-repeat: repeat;
}

/* Page pictures */

.background-pictures {
  background: url("https://raw.githubusercontent.com/Ceeeed1985/restaurant-css-framework/main/pictures/fond_ustensiles.png");
  background-repeat: repeat;
}

.background-guestbook {
  background: url("/pictures/guestbook.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: left;
}


/* Animation des logos réseaux sociaux */

.logo_anime:hover{
  transform: scale(1.2);

}


/* PAGE MANAGER */
.image-container {
  width: 100%;
  padding-top: 100%; /* Ceci crée un carré */
  position: relative;
  overflow: hidden;
}
.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}
.image-container img.landscape {
  width: 100%;
  height: auto;
}